body{
    font: arial;
}
.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.task-js,.date-js,.add{
    font-size: 15px;
    padding: 6px;
}

.delete{
    color: white;
    background-color: red;
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    cursor: pointer;


}
.add{
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    
}